* {
  padding: 0;
  margin: 0;
}

:root {
  /* --main-bg-color: radial-gradient(circle, rgb(158, 194, 248) 0%, rgb(49, 144, 228) 100%); */
  --main-bg-color: radial-gradient(
    circle,
    rgb(49, 144, 228) 0%,
    rgb(29, 84, 166) 100%
  );
  --main-font-color: #ffffff;
  --sub-font-color: #5c7a9f;
  --sub-font-color2: #103664;
}

@font-face {
  font-family: "averagesans-reqular";
  src: url("./assets/fonts/averagesans-regular.ttf") format("opentype");
}

@font-face {
  font-family: "FreightSans Bold";
  src: url("./assets/fonts/Freight Sans Bold.otf");
}

@font-face {
  font-family: "FreightSans Medium";
  src: url("./assets/fonts/FreightSans Medium Regular.ttf");
}

@font-face {
  font-family: "FreightSans Book";
  src: url("./assets/fonts/FreightSans BookSC Regular.ttf");
}

@font-face {
  font-family: "MuseoSlab-500";
  src: url("./assets/fonts/Museo_Slab_500.otf");
}
